# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [3]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [9]:
my_series = pd.Series([1.0,2,3,4,5,6])
my_series2 = pd.Series([1,2,3,4,5,6])
my_series3 = pd.Series(['a','b','c'])
my_series4 = pd.Series(["a","b","c"])

print(my_series)
print(my_series2)
print(my_series3)
print(my_series4)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    a
1    b
2    c
dtype: object
0    a
1    b
2    c
dtype: object

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [14]:
# class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
# index - row index
# columns - column index
# dtype - can be only one if given, otherwise inferred

df = pd.DataFrame({"one":['a','b','c'],"two":[1,2,3]     })
df

  one  two
0   a    1
1   b    2
2   c    3

In [15]:
# 'dtypes' gives the info about the data type of each column
df.dtypes

one    object
two     int64
dtype: object

In [16]:
# 'shape' gives the info about the shape of the data frame - (rows,columns)
df.shape

(3, 2)

In [17]:
# 'df.isna' returns a same size object with boolean values. True for NA values such as None or numpy.NaN

# df.duplicated
# df.duplicated(subset=None, keep='first')
# returns boolean Series specifying duplicate ROWS
# subset - check duplicate rows only for the specified columns
# keep ='first' -> returns first occurence of duplicate as False and all other occurences as True

# df.nunique
# df.nunique(axis=0, dropna=True)
# returns Series with number of distinct elements
# axis specifies which axis to look for, defaults is index (output will be Series with Column names and unique values in those)
# dropna - does not count NaN

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [27]:
grades = pd.DataFrame(np.random.normal(loc=0.85,scale = 0.5,size=(10,5)), index = ['Sai','Tyler','John','Matt','Stephen','Josh',
                                                                                  'Joel','Connor','Rish','Huiting'],
                     columns=['Homework','Project','Midterm1','Midterm2','Final'])
grades

         Homework   Project  Midterm1  Midterm2     Final
Sai      1.000546  0.377494  1.037444  1.747813  0.046209
Tyler    0.118191  0.626725  0.859139  0.649478  1.256338
John     0.751015  0.239241  1.139801  0.880622  0.559513
Matt     1.470595  0.680307  1.006546  0.369153  0.481112
Stephen -0.172293  1.204255  0.227304  0.349196  0.666378
Josh     1.256714 -0.350671  1.654175  0.909014  0.324739
Joel     0.430312  0.872972  0.570287  1.275577  1.597538
Connor   1.510312 -0.097045  1.337287  0.442915  1.059823
Rish     0.085776  0.556934  1.456848  0.413830  0.753600
Huiting  0.145719  1.061246  1.195540  1.237866  0.790608

In [29]:
grades.dtypes

Homework    float64
Project     float64
Midterm1    float64
Midterm2    float64
Final       float64
dtype: object

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [31]:
iris_df = pd.read_csv('data/iris.csv')

To read a tab-delimited file
`pandas.read_csv('file.txt',delimiter='\t')`

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [36]:
grades.head()
grades.tail()
grades.sample(2)
grades.describe()

        Homework    Project   Midterm1   Midterm2      Final
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.659689   0.517146   1.048437   0.827546   0.753586
std     0.623044   0.490131   0.420018   0.473191   0.455091
min    -0.172293  -0.350671   0.227304   0.349196   0.046209
25%     0.125073   0.273804   0.895991   0.421101   0.500712
50%     0.590663   0.591830   1.088623   0.765050   0.709989
75%     1.192672   0.824806   1.301851   1.155653   0.992519
max     1.510312   1.204255   1.654175   1.747813   1.597538

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [41]:
iris_df.columns
iris_df.index
grades.columns
grades.index

Index(['Sai', 'Tyler', 'John', 'Matt', 'Stephen', 'Josh', 'Joel', 'Connor',
       'Rish', 'Huiting'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [46]:
pd.__version__
iris_dict = iris_df.values
grades_dict = grades.values
grades_dict

array([[ 1.0005457 ,  0.37749441,  1.03744411,  1.74781254,  0.04620877],
       [ 0.11819074,  0.62672486,  0.85913944,  0.64947832,  1.25633789],
       [ 0.75101475,  0.2392407 ,  1.13980096,  0.88062163,  0.55951287],
       [ 1.4705947 ,  0.68030721,  1.00654645,  0.36915321,  0.48111206],
       [-0.17229281,  1.20425471,  0.22730402,  0.34919641,  0.66637785],
       [ 1.25671399, -0.35067056,  1.65417523,  0.909014  ,  0.32473927],
       [ 0.43031157,  0.87297238,  0.57028687,  1.2755765 ,  1.59753827],
       [ 1.51031177, -0.09704508,  1.33728741,  0.44291513,  1.05982326],
       [ 0.08577596,  0.55693441,  1.45684833,  0.41382986,  0.75360027],
       [ 0.14571886,  1.06124556,  1.19554046,  1.23786569,  0.79060757]])

In [52]:
print(grades.columns)
grades['Homework']
grades[0:5]

Index(['Homework', 'Project', 'Midterm1', 'Midterm2', 'Final'], dtype='object')

         Homework   Project  Midterm1  Midterm2     Final
Sai      1.000546  0.377494  1.037444  1.747813  0.046209
Tyler    0.118191  0.626725  0.859139  0.649478  1.256338
John     0.751015  0.239241  1.139801  0.880622  0.559513
Matt     1.470595  0.680307  1.006546  0.369153  0.481112
Stephen -0.172293  1.204255  0.227304  0.349196  0.666378

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [68]:
grades.loc['Sai':'John']
grades.loc[:,'Midterm1':'Final']
grades.loc['John':'Rish','Homework':'Midterm2']
grades.loc[['John','Rish'],['Homework','Midterm2']]

# both of the below give the same output
grades.at['Sai','Homework']
grades.loc['Sai'].at['Homework']

1.0005457013996462

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [80]:
iris_df.head
iris_df.iloc[2:5]
iris_df.iloc[2:5,0:4]

# both of the below give the same output
iris_df.iat[2,0]
iris_df.iloc[2].iat[0]

4.7

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [88]:
iris_df.columns
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [86]:
iris_df[iris_df['sepal_length'] > 5.8 ].sample()

     sepal_length  sepal_width  petal_length  petal_width    species
119           6.0          2.2           5.0          1.5  virginica

In [92]:
iris_df [ iris_df['petal_length'] >  3.75].sample()

     sepal_length  sepal_width  petal_length  petal_width    species
141           6.9          3.1           5.1          2.3  virginica

In [104]:
# remember to use the bitwise and '&', bitwise or '|' and the paranthesis for each condition

iris_df[(iris_df['sepal_length'] > 5.8 ) & (iris_df['petal_length'] >  3.75)].sample()
iris_df[(iris_df['sepal_length'] > 5.8 ) | (iris_df['petal_length'] >  3.75)].sample()

     sepal_length  sepal_width  petal_length  petal_width    species
109           7.2          3.6           6.1          2.5  virginica